################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/packages
/.vs/offline_processor/v16
/build
/dnn_model_2_0.onnx
/orientations_3d.csv
/positions_3d.csv
